h3 {
    color: white;
    margin: auto auto auto 700px;
}

p {
    color: black;
    margin: auto auto auto auto;
}

body {
    background-color: rgb(48, 54, 54);
}

html {
    background-color: rgb(48, 54, 54);
}

p1 {
    color: white;
}