h3 {
    color: white;
    margin: auto auto auto 700px;
}

p {
    color: black;
    margin: auto;
    margin-bottom: 30px;
}

body {
    background-image: url('shapelined.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p1 {
    color: black;
}

h1 {
    color: darkslategrey;
    text-align: center;
}

.centered-heading {
    text-align: center;
}

.card-container {
    overflow-x: auto;
    white-space: nowrap;
}

.scrolling-box {
    display: inline-block;
    width: 1000px;
}

.card {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;

}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}