h3 {
    color: white;
    margin: auto auto auto 700px;
}

p {
    color: black;
    margin: auto;
}

body {
    background-image: url('shapelined.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p1 {
    color: white;
}

h1 {
    color: darkgrey;
}

.centered-heading {
    text-align: center;
}